

    
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    body {
      background-color: #ADD8E6;
    }

    .form-container {
      min-height: 100vh;
    }

    .form-card {
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

    .form-title::after {
      content: '';
      display: block;
      width: 60px;
      height: 4px;
      background:#41B6E6;
      margin: 8px auto;
      border-radius: 5px;
    }

    .text-center{
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: center;
        display: block;
    }